aplicacion/nodeRed/nodeRED_flows.json
[{"id":"7b350bce.91494c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1fd25bf4.60634c","type":"mqtt in","z":"7b350bce.91494c","name":"","topic":"TFM/home/sr/#","qos":"2","datatype":"auto","broker":"568e949c.039d04","x":220,"y":280,"wires":[["27536573.4a3cba","231c950b.16586a","b1098ba6.0f04c","2e3f52b8.f6014e","98c96b8a.75e22","a9dc9ba9.26db78"]]},{"id":"27536573.4a3cba","type":"function","z":"7b350bce.91494c","name":"filter_fire","func":"res = {}\nres.payload = {}\nres.payload.chatId = '5387752'\nres.payload.type = 'message'\n// res.payload.content = msg.payload\nvar count = flow.get('count_fire')||0;\n\nif(msg.payload.indexOf(\"Fire\") > -1){\n    count += 1;\n    // store the value back\n    flow.set('count_fire',count);\n}\n\nres.count_fire = count;\n\nres.payload.content = msg.payload;\nreturn res;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["d1fd7514.2d74d8"]]},{"id":"84727323.11d09","type":"telegram sender","z":"7b350bce.91494c","name":"TFM_homeBOT","bot":"95ab122b.e00358","x":1380,"y":700,"wires":[[]]},{"id":"d1fd7514.2d74d8","type":"switch","z":"7b350bce.91494c","name":"filter_fire","property":"count_fire","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":160,"wires":[["7d4290ec.3d0e58"]]},{"id":"231c950b.16586a","type":"function","z":"7b350bce.91494c","name":"filter_door","func":"res = {};\nres.payload = {};\nres.payload.chatId = '5387752'\nres.payload.type = 'message'\n// res.payload.content = msg.payload\nvar count = flow.get(\"count_door\")||0;\n\nif(msg.payload.indexOf(\"door\") > -1){\n    count += 1;\n    // store the value back\n    flow.set('count_door',+count);\n}\n\nres.count_door = count;\n\nres.payload.content = msg.payload;\n\nreturn res;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["96462c13.f45508"]]},{"id":"96462c13.f45508","type":"switch","z":"7b350bce.91494c","name":"filter_door","property":"count_door","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":280,"wires":[["7d4290ec.3d0e58"]]},{"id":"7d4290ec.3d0e58","type":"function","z":"7b350bce.91494c","name":"reset_count_sensors","func":"msg = msg;\nmsg.payload = msg.payload;\n\nif(msg.count_door){\n    flow.set('count_door',0);\n}\n\nif(msg.count_light_os){\n    flow.set('count_light_os',0);\n}\n\nif(msg.count_light_clar){\n    flow.set('count_light_clar',0);\n}\n\nif(msg.count_fire){\n    flow.set('count_fire',0);\n}\n\nif(msg.count_temp){\n    flow.set('count_temp',0);\n}\n\nif(msg.count_hum){\n    flow.set('count_hum',0);\n}\n\n\nvar count_pul = flow.get(\"count_pul\")||0;\n\ncount_pul += 1;\n// store the value back\nflow.set('count_temp',+count_pul);\nmsg.count_pul = count_pul;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":280,"wires":[["e1b82d29.3f98a","fbde426c.29661","83a4440.b215ec"]]},{"id":"e1b82d29.3f98a","type":"debug","z":"7b350bce.91494c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1370,"y":420,"wires":[]},{"id":"b1098ba6.0f04c","type":"function","z":"7b350bce.91494c","name":"filter_light","func":"res = {}\nres.payload = {}\nres.payload.chatId = '5387752'\nres.payload.type = 'message'\n// res.payload.content = msg.payload\nvar count_os = flow.get(\"count_light_os\")||0;\nvar count_clar = flow.get(\"count_light_clar\")||0;\n\nif(msg.payload.indexOf(\"light\") > -1){\n    var light=msg.payload.split(',')[2];\n    if(light>700){\n       count_os += 1;\n    // store the value back\n    flow.set('count_light_os',+count_os);     \n    }else    if(light<100){\n       count_clar += 1;\n    // store the value back\n    flow.set('count_light_clar',+count_clar);     \n    }\n    res.count_light_os = count_os;\n    res.count_light_clar = count_clar;\n    res.payload.content = msg.payload;\n}\n\n/*if(msg.payload.indexOf(\"light\") > -1){\n    count += 1;\n    // store the value back\n    flow.set('count_light',+count);\n    res.count_light = count;\n    res.payload.content = `Se ha detectado una luz encendida en el baño a las ${new Date()}`\n}*/\n\nreturn res;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["dddf4dce.ead088","d0e554fe.b5a7c8"]]},{"id":"dddf4dce.ead088","type":"switch","z":"7b350bce.91494c","name":"filter_light","property":"count_light_os","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":400,"wires":[["7d4290ec.3d0e58"]]},{"id":"2e3f52b8.f6014e","type":"function","z":"7b350bce.91494c","name":"filter_temp","func":"res = {}\nres.payload = {}\nres.payload.chatId = '5387752'\nres.payload.type = 'message'\n// res.payload.content = msg.payload\nvar count = flow.get(\"count_temp\")||0;\nvar count_hum = flow.get(\"count_hum\")||0;\n\nif(msg.payload.indexOf(\"temperature\") > -1){\n    if(msg.payload.indexOf(\"ALERT\") >-1){\n    count += 1;\n    // store the value back\n    flow.set('count_temp',+count);\n    }\n}\n\nif(msg.payload.indexOf(\"hummidity\") > -1){\n    if(msg.payload.indexOf(\"ALERT\") >-1){\n    count_hum += 1;\n    // store the value back\n    flow.set('count_hum',+count_hum);\n    }\n}\n\nres.count_temp = count;\nres.count_hum = count_hum;\n\nres.payload.count_temp1 = count\nres.payload.count_hum = count_hum\nres.payload.msg_rcv = msg.payload\nres.payload.content = msg.payload;\n\nreturn res;","outputs":1,"noerr":0,"x":490,"y":500,"wires":[["53fbbe56.f3ae68","747c4f22.404808"]]},{"id":"53fbbe56.f3ae68","type":"switch","z":"7b350bce.91494c","name":"filter_temp","property":"count_temp","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":500,"wires":[["7d4290ec.3d0e58"]]},{"id":"9fda8df7.21df18","type":"function","z":"7b350bce.91494c","name":"filter_bracelet","func":"res = {}\nres.payload = {}\nres.payload.chatId = '5387752'\nres.payload.type = 'message'\n// res.payload.content = msg.payload\nvar count = flow.get(\"count_cancel\")||0;\nvar count_ok = flow.get(\"count_ok\")||0;\n\nif(msg.payload.indexOf(\"CANCEL\") > -1){\n    count += 1;\n    // store the count_cancelvalue back\n    flow.set('count_cancel',+count);\n    res.payload.content = `Se ha cancelado el envío del mensaje`\n}\nif(msg.payload.indexOf(\"OK\") > -1){\n    count_ok += 1;\n    // store the count_cancelvalue back\n    flow.set('count_ok',+count_ok);\n    if(msg.payload.indexOf(\"door\")>-1){\n        res.payload.content = `Se ha detectado una puerta abierta durante mucho tiempo`\n    }else if(msg.payload.indexOf(\"fire\")>-1){\n        res.payload.content = `Se ha detectado fuego en el domicilio`\n    }else if(msg.payload.indexOf(\"temperature\")>-1){\n        res.payload.content = `Se ha detectado una temperatura fuera de lo normal`\n    }else if(msg.payload.indexOf(\"hummidity\")>-1){\n        res.payload.content = `Se ha detectado una humedad fuera de lo normal`\n    }else if(msg.payload.indexOf(\"light\")>-1){\n        res.payload.content = `Se ha detectado un comportamiento fuera de lo normal con las luces`\n    }else if(msg.payload.indexOf(\"light\")>-1){\n        res.payload.content = `Se ha detectado un comportamiento fuera de lo normal con las luces`\n    }else{\n    res.payload.content = `Se ha confirmado el envío de una alerta desde el weareable`\n    }\n}\n\nres.count_cancel = count;\nres.count_ok = count_ok;\n\nres.payload.msg_rcv = msg.payload\n\n\nreturn res;","outputs":1,"noerr":0,"x":500,"y":700,"wires":[["87f073bf.63a6a8"]]},{"id":"87f073bf.63a6a8","type":"switch","z":"7b350bce.91494c","name":"filter_ok","property":"count_ok","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":700,"wires":[["f2f653f5.af6868"]]},{"id":"91c3e444.518de8","type":"mqtt in","z":"7b350bce.91494c","name":"","topic":"TFM/home/pl/#","qos":"2","datatype":"auto","broker":"568e949c.039d04","x":240,"y":700,"wires":[["9fda8df7.21df18"]]},{"id":"fbde426c.29661","type":"mqtt out","z":"7b350bce.91494c","name":"send_bracelet","topic":"TFM/home/pl/in/","qos":"","retain":"","broker":"568e949c.039d04","x":1400,"y":280,"wires":[]},{"id":"83a4440.b215ec","type":"switch","z":"7b350bce.91494c","name":"filter_pul","property":"count_pul","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":520,"wires":[["f2f653f5.af6868"]]},{"id":"98c96b8a.75e22","type":"file","z":"7b350bce.91494c","name":"","filename":"data1_def.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":520,"y":100,"wires":[[]]},{"id":"f2f653f5.af6868","type":"function","z":"7b350bce.91494c","name":"reset_count_ok","func":"msg = msg;\nmsg.payload = msg.payload;\n\nif(msg.count_ok){\n    flow.set('count_ok',0);\n}\n\nif(msg.count_pul){\n    flow.set('count_pul',0);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":700,"wires":[["e1b82d29.3f98a","84727323.11d09"]]},{"id":"a9dc9ba9.26db78","type":"debug","z":"7b350bce.91494c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":100,"wires":[]},{"id":"747c4f22.404808","type":"switch","z":"7b350bce.91494c","name":"filter_hum","property":"count_hum","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":540,"wires":[["7d4290ec.3d0e58"]]},{"id":"d0e554fe.b5a7c8","type":"switch","z":"7b350bce.91494c","name":"filter_light","property":"count_light_clar","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":440,"wires":[["7d4290ec.3d0e58"]]},{"id":"568e949c.039d04","type":"mqtt-broker","z":"","name":"Broker Raspi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95ab122b.e00358","type":"telegram bot","z":"","botname":"tfm_homeBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]